body{
        margin: 0;
        padding: 0;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
    }
    button{
        margin: 0 5vw;
        font-size: 1.5vw;
        height: 3vw;
        text-align:center;
        background: white;
    }
    button:hover{
        background-color: #3484F0;
        color:white;
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] + label {
      background-color: white;
      cursor: pointer;
      display: block;
      margin:auto;
      height: auto;
      width: 40vw;
      text-align: center;
      line-height: 2.5vw;
      padding: 1.5vw 0;
    }
    input[type="radio"]:checked + label {
      background-color: #3484F0;
      color:white;
    }

    .multiple-choice{
        background:#C4DBFA;
        width: 62vw;
        height: auto;
        margin: 2vw 7vw;
    }

    .multiple-choice p{
        display:block;
        width: 40vw;
        margin: auto;
        padding: 2vw 0;
    }

    .multiple-choice h2{
        display:block;
        width: 40vw;
        margin: auto;
    }

    #graph{
        background:black;
        width: 62vw;
        margin: 2vw 7vw;
    }

    .title-line {
        background:black;
        border: solid 1px black;
        width: auto;
        display: block;
    }

    .explain {
        width: 62vw;
        margin: 2vw 7vw;
    }

    .explain p{
        font-size: 1.5vw;
        line-height:2.3vw;
    }
    .video {
        width: 64vw;
        margin: 2vw 6vw;
    }

    h1{
        padding: 4vw 4vw 2vw 4vw;
        text-align: left;
        font-size: 3vw;
        margin:0;
    }

    h2{
        padding: 2vw 6vw 0 6vw;
        text-align: left;
        font-size: 2.5vw;
        margin:0;
    }

    #main{
        width:80%;
        height:auto;
        border: solid 5px white;
        margin-left: 4%;
    }

    #menu{
        border: solid 5px #3484F0;
        height: 100vh;
        position: fixed;
    }
    #title{
        color: white;
        background: #3484F0;
        font-size: 250%;
        padding: 20% 0%;
        text-align:center;
        margin: 0;
    }

    .section{
        height: auto;
        width: auto;
        padding-left: 1vw;
        margin-left: 1vw;
        text-align:left;
        padding: 2vw 0 2vw 0;
        font-size: 1.5vw;
    }

    .section a:hover{
        text-decoration:underline;
    }

    .section a{
        font-size: 1.2vw;
        padding-left:1.5vw;
    }
    a{
    text-decoration:none;
    color:black;
    display:inline-block;
    }

    ul{
        font-size: 1.5vw;
        margin-left:4vw;
    }
    li{
        padding-top: 1vw;
        padding-bottom: 1vw;
    }